# Configuración de la base de datos MySQL
spring.datasource.url=jdbc:mysql://localhost:3306/db_technova?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
spring.datasource.username=USUARIO_AQUI
spring.datasource.password=CONTRASEÑA_AQUI
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
# Configuración del pool de conexiones
spring.datasource.hikari.maximumPoolSize=10

# Mostrar SQL en consola (opcional, para depurar)
spring.jpa.show-sql=true